/* General Reset */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  overflow-y: scroll;
  scroll-behavior: smooth;
  box-sizing: border-box;
  background-color: rgba(246, 247, 248, 1);
}

* {
  box-sizing: border-box;
  font-family: Inter;
}

/* Fonts */
@font-face {
  font-family: "Inter";
  src: url("fonts/inter/Inter-VariableFont_opsz,wght.ttf");
}

/* Links */
a {
  text-decoration: none;
  font-family: "Inter";
  color: rgb(255, 255, 255);
  font-weight: 300;
  font-size: 16px;
  padding: 4px;
}

footer{
  height: 16px;
  width: auto;
  margin: 32px 0;
}

footer a {
  text-decoration: none;
  color: rgba(168, 168, 168, 1) !important;
  transform: scale(1);
  cursor: pointer;
}

footer a:hover {
  color: rgb(41, 171, 226) !important;
}

/* Layout Containers */
.start-content {
  display: flex;
  height: 100%;
}

.sidebar-container {
  flex-shrink: 0;
}

.right-side-content {
  margin-top: 96px;
  width: 100%;
  padding: 64px 96px 64px 328px;
  box-sizing: border-box;
}

.right-side-content h2 {
  color: #333;
}

.right-side-content a {
  color: rgba(42, 54, 71, 1);
  font-weight: 600;
}

/* Contacts Section */
.contacts-list {
  max-width: 456px;
  width: 100%;
  flex-grow: 1;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.contacts-list ul {
  flex-grow: 1;
  overflow-y: auto;
  padding-left: 0px;
}

.contacts-list li {
  display: flex;
  align-items: center;
  padding: 18px;
  border-bottom: 1px solid #eee;
}

.contact-initials {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

/* Add Contact Button */
#add-contact-button {
  width: 352px;
  height: 56px;
  top: 22.5px;
  left: 52px;
  gap: 16px;
  border-radius: 10px;
  border: 1px solid #2a3647;
  padding: 12px 0;
  background: #2a3647;
  color: #ffffff; /* Set text color to white */
  font-family: Inter;
  font-weight: 700;
  font-size: 21px;
  line-height: 120%;
  letter-spacing: 0%;
}

.add-contact-button:hover {
  background-color: rgb(41, 171, 226);
  transform: scale(1.05);
  border: solid 2px rgb(41, 171, 226);
}

/* Buttons */
.button-icon {
  width: 20px;
  height: 20px;
}

/* Right-Side Content */
.right-side-content-contacts {
  margin-top: 96px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding: 0px 96px 0px 251px;
  box-sizing: border-box;
}

.right-side-content-contacts a {
  color: blue; /* Specific rule for links in contacts.html */
}

/* Contact Details */
.contact-details {
  width: 100vw;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Utility Classes */
.d-none {
  display: none !important;
}
