html,
body {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0); 
  height: 100%;
  margin: 0;
  padding: 0;
}

.content {
  height: 100vh;
  width: 100vw; 
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  width: 90%;
  min-height: 100vh;
  height: 100%;
  box-sizing: border-box;
}

.left-column {
  padding-left: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  background-color: #2a3647;
  color: white;
  width: 40%;
  border-radius: 30px 0 0 30px;
}

.left-column h2 {
  font-size: clamp(32px, 5vw, 61px);
  font-weight: 700;
  margin-block-start: 0;
  margin-block-end: 0;
}

.left-column h3 {
  font-size: clamp(18px, 2vw, 27px);
  font-weight: 400;
  margin-block-start: 0;
  margin-block-end: 0;
}

.bottom-space-left-column{
  height: 67px;
}

.right-column {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
  width: 40%;
  border-radius: 0 30px 30px 0;
  background-color: rgba(255, 255, 255, 1);
  padding-top: 3%;
}

.separator {
  height: 3px;
  width: 90px;
  background-color: rgb(41, 171, 226);
  border-radius: 50px;
}

.profile-container {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
  background-color: rgba(255, 255, 255, 1);
}

.profile-icon {
  min-width: 120px;
  max-width: 120px;
  aspect-ratio: 1/1;
  background: rgba(217, 217, 217, 1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
}

.profile-icon i {
  font-size: 36px;
  color: #666;
}

#profileInitials {
  min-width: 120px;
  min-height: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 47px;
  font-weight: 500;
  border:2px solid white;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);

}

.logo {
  height: 67px;
  width: auto;
  margin-bottom: 10px;
}

.input_div {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-right: 48px;
}

.input_div input {
  width: auto;
  height: 48px;
  border: rgb(209, 209, 209) solid 1px;
  border-radius: 10px;
  padding-left: 16px;
}

.input_label {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding-right: 40px;
  font-size: 16px;
  outline: none;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 10px;
}

.input_label input {
  width: 100%;
  height: 48px;
  border: none;
  outline: none;
  padding-left: 16px;
  font-size: 18px;
}

.input_label:focus-within {
  border: 1px solid rgb(41, 171, 226);
}

.input_label input::placeholder {
  font-size: 18px;
  color: rgb(209, 209, 209);
}

.input_label input:hover,
.input_label:hover{
  background-color: #f0f0f0;
}

.input_icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.input_icon img {
  width: 100%;
  height: 100%;
}