html,
body {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0); 
  height: 100%;
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0);
}

#overlay {
  overflow: hidden;
  top: 0;
  left: 0;
  width: 90%;
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: row;
  background: white;
  border-radius: 50px 30px 30px 50px;
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  box-sizing: border-box;
}

.left-column {
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  background-color: #2a3647;
  color: white;
  min-width: 42%;
}

.right-column {
  text-align: center;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: row;
  height: 100%;
  width: 100%;
  margin-right: 32px;
  border-radius: 0 30px 30px 0;
  background-color: rgba(255, 255, 255, 1);
}

h2 {
  font-size: 61px;
  font-weight: 700;
  margin-block-start: 0;
  margin-block-end: 0;
}

h3 {
  font-size: 27px;
  font-weight: 400;
  margin-block-start: 0;
  margin-block-end: 0;
}

.separator {
  height: 3px;
  width: 90px;
  background-color: rgb(41, 171, 226);
  border-radius: 50px;
}

.profile-container {
  min-width: 16%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
}

.profile-icon {
  min-width: 120px;
  max-width: 120px;
  aspect-ratio: 1/1;
  background: #f0f0f0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
}

.profile-icon i {
  font-size: 36px;
  color: #666;
}

#profileInitials {
  min-width: 120px;
  min-height: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 47px;
  font-weight: 500;
  border:2px solid white;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);

}

.logo {
  height: 67px;
  width: auto;
  margin-bottom: 10px;
}

.input_div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  height: 326px;
  width: 100%;
}

.input_div input {
  width: auto;
  height: 48px;
  border: rgb(209, 209, 209) solid 1px;
  border-radius: 10px;
  padding-left: 16px;
}

.input_label {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  outline: none;
  border-radius: 10px;
}

.input_label {
  width: 100%;
  padding-right: 40px;
  font-size: 16px;
  outline: none;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 10px;
}

.input_label input {
  width: 100%;
  height: 48px;
  border: none;
  outline: none;
  padding-left: 16px;
  font-size: 18px;
}

.input_label:focus-within {
  border: 1px solid rgb(41, 171, 226);
}

.input_label input::placeholder {
  font-size: 18px;
  color: rgb(209, 209, 209);
}

.input_icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.input_icon img {
  width: 100%;
  height: 100%;
}

.button_div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 32px;
  width: 100% !important;
}

.button_save,
.button_save_input_section {
  background-color: rgb(42, 54, 71);
  border: solid 2px rgb(42, 54, 71);
  border-radius: 10px;
  color: white;
  padding: 8px 16px;
  cursor: pointer;
  transform: scale(1);
  font-weight: 500;
  width: fit-content !important;
  min-height: 48px;
  height: 48px;
  font-size: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  transition: background-color 100ms ease-in-out, 
              border 100ms ease-in-out, 
              box-shadow 100ms ease-in-out;
}


.add-task-button svg{
    height: 32px;
}

.button_save:hover,
.button_save_input_section:hover{
  background-color: rgba(41, 171, 226, 1);
  border: solid 2px rgba(41, 171, 226, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

    
.button_save:active,
.button_save_input_section:active{
  background-color: rgba(9, 25, 49, 1);
  border: solid 2px rgba(9, 25, 49, 1);
  box-shadow: none;
}

.button_cancel,
.button_delete_input_section:hover {
  border: solid 2px rgb(41, 171, 226);
  color: rgb(41, 171, 226);
}

.button_cancel,
.button_delete_input_section{
    font-size: 20px;
    max-height: 48px;
    width: fit-content;
    background-color: rgba(255, 255, 255, 1);
    border: solid 2px  rgba(42, 54, 71, 1);
    border-radius: 10px;
    color: rgba(42, 54, 71, 1);
    padding: 8px 16px;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    transition: border 100ms ease-in-out, 
                color 100ms ease-in-out,
                box-shadow 100ms ease-in-out;
}

  .button_cancel svg,
  .button_delete_input_section svg{
        height: 36px;
    }

  .button_cancel svg path,
  .button_delete_input_section svg path{
        transition: stroke 100ms ease-in-out;
    }

  .button_cancel:hover,
  .button_delete_input_section:hover{
        border: solid 2px rgba(41, 171, 226, 1);
        color: rgba(41, 171, 226, 1);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

  .button_cancel:hover svg path,
  .button_delete_input_section:hover svg path{
        stroke: rgba(41, 171, 226, 1);
    }

  .button_cancel:active,
  .button_delete_input_section:active{
        border: solid 2px rgba(9, 25, 49, 1);
        color: rgba(9, 25, 49, 1);
        box-shadow: none;
    }

  .button_cancel:active svg path,
  .button_delete_input_section:active svg path{
        stroke: rgba(9, 25, 49, 1);
    }



.close-btn svg {
  position: absolute;
  top: 48px;
  right: 48px;
  height: 32px;
  width: 32px;
  padding: 8px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 56px;
  transition: background-color 100ms ease-in-out;
}

.close-btn svg:hover {
  background-color: rgba(41, 171, 226, 1);
  padding: 8px;
  border-radius: 56px;
}

.close-btn svg path {
  transition: fill 100ms ease-in-out;
}

.close-btn:hover svg path {
  fill: rgba(255, 255, 255, 1) !important;
}

.contact-overlay {
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 300ms ease, transform 300ms ease, box-shadow 600ms cubic-bezier(0.4,0,0.2,1);
  pointer-events: none;
  box-shadow: none;
  min-height: 100vh;
  height: 100%;
  box-sizing: border-box;
  width: 100%;
}

.contact-overlay.active {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}


.overlay-fade-in {
  opacity: 0;
  transition: opacity 0.3s;
}
.overlay-fade-in.active {
  opacity: 1;
}

.overlay-iframe {
  border-radius: 30px;
  height: 85%;
  width: 90%;
  opacity: 0;
  box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0);
  transform: scale(0.5);
  transition: opacity 300ms ease-in-out, 
              transform 300ms ease-in-out, 
              box-shadow 300ms ease-in-out;
}

.overlay-iframe.active {
  opacity: 1;
  transform: scale(1);
  box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.3);
  border: none
}

a {
  text-decoration: none;
}

