@media (max-width: 1080px) {
  .create-contact-full {
    display: none !important;
  }
  .create-contact-short {
    display: inline !important;
  }
}

@media (max-width: 940px) {

  html, body {
    height: 100vh;
    width: 100vw;
  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    height: 100vh;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50px;
  }

  .left-column h2 {
    font-size: clamp(32px, 7vw, 61px);
  }

  .left-column h3 {
    font-size: clamp(18px, 4vw, 27px);
  }

  .left-column {
    order: 1;
    width: 100%;
    margin-bottom: 20px;
    align-items: start;
    justify-content: center;
    min-height: 40%;
    border-radius: 30px 30px 0 0;
  }
  
  .bottom-space-left-column{
    height: 0px;
  }

  .overlay-iframe {
    width: 90vw;
    max-width: 1190px;
    aspect-ratio: 2 / 1;
    height: 95% !important;
    max-height: 95% !important;
    display: block;
    margin: auto;
    border-radius: 30px;
    border: none;
    box-sizing: border-box;
    opacity: 0;
    box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0);
    transform: scale(0.5);
    transition: opacity 300ms ease-in-out, 
                transform 300ms ease-in-out, 
                box-shadow 300ms ease-in-out;
  }

  .right-column {
    order: 2;
    width: 100%;
    height: 100%;
    padding-top: 0;
    margin-top: 0;
    align-items: center;
    justify-content: center;
    margin-right: 0;
    border-radius: 0 0 30px 30px;
  }

  .right-flex-row {
    position: relative;
  }

  .profile-container {
    height: 20%;
    width:100%;
    top: 32%;
    z-index: 10;
    position: absolute;  
    margin: 0;
    background-color: rgba(255, 255, 255, 0);
  }

  .profile-icon,
  .profile-container .contact-initials {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    height: 120px;
    width: 120px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
  }

  .profile-icon img {
    height: 64px;
    width: 64px;
    border-radius: 50%;
  }

  .input_div {
    width: 80%;
    margin-right: 0 !important;
  }

  #profileInitials {
    width: 120px;
    height: 120px;
    font-size: 54px;
  }

  img.logo {
    display: none;
  }

  .close-btn svg {
    position: absolute;
    top: 32px;
    right: 32px;
  }

  .close-btn svg path {
    fill: rgba(255, 255, 255, 1);
    transition: fill 100ms ease-in-out;
  }

  .close-btn:hover svg path {
    fill: rgba(42, 54, 71, 1) !important;
  }

  .button_cancel {
    display: none;
  }

  .button_save {
    display: block;
    text-align: center;
    width: fit-content;
  }

  .button_div {
    align-items: center;
    justify-content: center;
    margin-top: 32px;
  }

  .contact-buttons {
    display: none;
  }

  .button_div button{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .create-contact-full {
    display: inline !important;
  }
  .create-contact-short {
    display: none !important;
  }
}

@media (max-width: 768px){
  .card {
    width: 95%;
  }
}

@media (max-width: 550px) {
  .overlay-iframe {
    width: 95% !important;
  }

  .create-contact-full {
    display: inline !important;
  }
  .create-contact-short {
    display: none !important;
  }

  .close-btn svg {
    right: 16px !important;
  }

  .input_div {
    margin-top: 16px;
    width: 90%;
    margin-right: 0;
    gap: 16px;
  }
}

@media (max-width: 425px) {
  .button_div{
    margin-top: 0px;
    gap:8px !important;
    width: 100% !important;
    justify-content: space-between !important;
  }

  .button_save,
  .button_cancel{
    min-width: 48% !important;
  }

  .create-contact-full {
    display: none !important;
  }

  .create-contact-short {
    display: inline !important;
  }
}

@media (max-height: 700px){
  .input_label{
      margin-bottom: 0 !important;
    }

  .button_div{
    margin-top: 8px !important;
  }
  
  .input_div{
    gap: 0 !important;
  }

  .input-error,
  .email-input-error,
  .phone-input-error,
  .name-input-error {
    display: block;
    min-height: 0.9em;
    visibility: hidden;
    color: rgba(255, 129, 144, 1);
    font-size: 0.9em;
    margin-top: 2px;
    padding-left: 4px;
    margin-bottom: 2px;
    line-height: 1.1;
  }
}



