@media (max-width: 768px) {

  html, body {
    height: 100vh;
    width: 100vw;
  }
 
  .content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    max-width: 600px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .card h2 {
    text-align: start;
    font-size: 47px;
  }

  .card h3 {
    font-size: 20px;
  }

  .left-column {
    order: 1;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    align-items: start;
    justify-content: center;
    min-height: 40%;
    border-radius: 30px 30px 0 0;
  }

  .right-column {
    order: 2;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    margin-right: 0;
    border-radius: 0 0 30px 30px;  }

  .right-flex-row {
    position: relative;
  }

  .profile-container {
    z-index: 10;
    padding: 0;
    position: absolute;
    left: 50%;
    top: 40%; 
    transform: translate(-50%, -50%);
    margin: 0;
  }

  .profile-icon {
    height: 120px;
    width: 120px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
  }

  .profile-icon img {
    height: 64px;
    width: 64px;
    border-radius: 50%;
  }

  .input_div {
    width: 90%;
  }

  #profileInitials {
    width: 120px;
    height: 120px;
    font-size: 54px;
  }

  img.logo {
    display: none;
  }

  #overlay {
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
   }

  .close-btn svg {
    position: absolute;
    top: 32px;
    right: 16px;
  }

  .close-btn svg path {
    fill: rgba(255, 255, 255, 1);
    transition: fill 100ms ease-in-out;
  }

  .close-btn:hover svg path {
    fill: rgba(42, 54, 71, 1) !important;
  }

  .button_cancel {
    display: none;
  }

  .button_save {
    display: block;
    margin: 20px auto 0;
    text-align: center;
    width: fit-content;
  }

  .button_div {
    align-items: center;
    justify-content: center;
  }

  .contact-buttons {
    display: none;
  }

  .button_div button{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .overlay-iframe {
    height: 95% !important;
    width: 95% !important;
    display: block;
    margin: auto;
    border-radius: 30px;
    border: none;
    box-sizing: border-box;
  }
  
}

.overlay-iframe {
  width: 95%;
  height: 95%;
  border: none;
  border-radius: 30px;
  display: block;
  margin: auto;
  box-sizing: border-box;
}


