.priority-buttons-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 8px;
    margin-bottom: 16px;
    padding: 4px;
}

.urgent_button {
    width: 136px !important;
    height: 56px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 4px 2px rgba(42, 54, 71, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 8px;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.medium_button {
    width: 136px;
    height: 56px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 4px 2px rgba(42, 54, 71, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 8px;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.low_button {
    width: 136px !important;
    height: 56px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 4px 2px rgba(42, 54, 71, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 8px;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.urgent_button:hover {
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.15), 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.medium_button:hover {
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.15), 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.low_button:hover {
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.15), 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.urgent_button p,
.medium_button p,
.low_button p {
    font-size: 20px;
    font-weight: 400;
}

.urgent_symbol path {
    fill: #FF3D00;
    transition: fill 100ms ease-in-out;
}

.urgent_button:active .urgent_symbol path {
    fill: white;
}

.medium_symbol path {
    fill: #FFA800;
    transition: fill 100ms ease-in-out;
}

.medium_button:active .medium_symbol path {
    fill: white;
}

.low_symbol path {
    fill: #7AE229;
    transition: fill 100ms ease-in-out;
}

.low_button:active .low_symbol path {
    fill: white;
}

.urgent_button.active,
.urgent_button:active {
    box-shadow: none;
    background-color: #FF3D00;
    color: white;
}

.medium_button.active,
.medium_button:active {
    box-shadow: none;
    background-color: #FFA800;
    color: white;
}

.low_button.active,
.low_button:active {
    box-shadow: none;
    background-color: #7AE229;
    color: white;
}

.urgent_button.active .urgent_symbol path {
    fill: white;
}

.medium_button.active .medium_symbol path {
    fill: white;
}

.low_button.active .low_symbol path {
    fill: white;
}