.input_div_left_content {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
    height: 100%;
    width: calc(100% / 2 - 24px);
    flex: 1;
}

.input_div_left input {
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding-left: 16px;
    width: 100%;
    min-height: 48px;
    word-wrap: break-word;
    outline: none;
    transition: border-color 100ms ease;
}

.input_div_left p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.input-title {
    height: 48px;
    width: 100%;
    outline: none;
    border-radius: 10px;
}

.input-description {
    height: 120px;
    width: 100%;
    border: 1px solid #D1D1D1;
    outline: none;
    border-radius: 10px;
}

.input-title:focus,
#input_description:focus {
    border: 1px solid rgb(41, 171, 226);
}

.enlarge_inputfield_symbol_div {
    position: absolute;
    right: 10px;
    top: 84%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

.enlarge_inputfield_symbol_div img {
    width: 24px;
    height: 24px;
}

.input_div_left input:focus {
    border: 12px solid rgb(41, 171, 226);
}

.input_div_left input:active {
    border: 1px solid rgb(41, 171, 226);
}

.input_div_left input:focus-within {
    border: 1px solid rgb(41, 171, 226);
}

.input_div_left textarea {
    border: 1px solid #D1D1D1;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    padding-left: 16px;
    width: 100%;
    height: 48px;
    outline: none;
    transition: border-color 100ms ease;
}

.input_div_left textarea:focus {
    border: 1px solid rgb(41, 171, 226);
}

.input_div_left textarea:active {
    border: 1px solid rgb(41, 171, 226);
}

.input_div_left textarea:focus-within {
    border: 1px solid rgb(41, 171, 226);
}

.textarea-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.textarea-with-icon {
    width: 100%;
    min-height: 100px;
    resize: vertical;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
    background-color: transparent;
    position: relative;
    z-index: 1;
    transition: outline 100ms ease;
    font-size: 16px;
}

.textarea-with-icon::placeholder {
    font-size: 20px;
    color: rgba(209, 209, 209, 1);
}

.textarea-with-icon:hover,
.textarea-with-icon:hover svg,
.textarea-container:hover .resize-icon{
  background-color: #f0f0f0;
}



.resize-icon {
    position: absolute;
    bottom: 5px;
    right: 1px;
    width: 26px;
    padding: 1px;
    height: 26px;
    border-bottom-right-radius: 10px;
    pointer-events: none;
    z-index: 2;
    background-color: white;
}

.resize-icon-position {
    bottom: 1px;
}