@media(max-width:1300px) {

    .board-table{
        width: 100%;
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 26px;
        padding-top: 16px;
    }

    .board-table-columns,
    .task-container{
        min-height: auto;
        width: 100%;
        left: 0;
        display: flex;
        flex-direction: column;
        padding-right: 0px;
    }

}

@media(max-width:1100px) {

    .board-search-line{
        align-items: start;
        flex-direction: column;
        gap: 0;
        position: relative;
    }

    .board-input-section{
        position: absolute;
        top: 68px;
        flex-direction: column-reverse;
        height: 100%;
        align-items: flex-end;
        width: 100%;
    }

    .board-input-section input {
        height: 48px;
        width: 100%;
    }

    .board-table{
        padding-top:88px
    }

    .input-with-svg{
        width: 100%;
    }
}

@media(max-width:768px){
    
    .kanban-header{
        padding: 24px 0px 16px 4px;
    }

    .board-title h1{
        font-size: 47px;
    }

    .board-input-section{
        top: 60px; 
        gap: 16px;
    }

    .board-input-section a button{
        text-indent: -9999px;
        height: 40px;
        width: 40px;
        padding-left: 12px;       
    }
}

@media(max-width:550px){
    
    .right-side-content{
        padding: 32px 5% 64px 5% !important;
    }
}