
.board-content{
    display: flex;
    flex-direction: column;
    min-height: fit-content;  
    padding-bottom: 32px;
}

.right-side-content{
    min-height: fit-content;
    width: 100%;
    margin-bottom: 32px;
}

.board-head{
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.board-search-line{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.board-title h1{
    margin-block: 0;
    color: rgba(0,0,0,1);
    font-size: 61px;
    font-weight: 700;  
}
