.dropdown-edit-assigned-to, 
.dropdown-options-category {
    width: 100%;
    max-height: 0;
    opacity: 0;
    overflow-y: hidden;
    transition: max-height 300ms ease-in-out, 
                opacity 1ms ease-in-out,
                display 300ms ease-in-out;
    border: 1px solid rgba(168, 168, 168, 0.5);
    border-radius: 10px;
    box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.1);
    padding: 7px 16px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 0;
    background-color: white; 
    pointer-events: none;
}

.dropdown-edit-assigned-to.show, 
.dropdown-options-category.show {
    max-height: 250px;
    opacity: 1;
    overflow-y: auto;
    pointer-events: auto;
    z-index: 10;
}

.dropdown-edit-assignee {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    cursor: default;
    justify-content: flex-start;   
}

.dropdown-edit-assignee:hover {
    width: calc(100% + 32px);
    margin-left: -16px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: rgba(42, 54, 71, 1);
    color: rgba(255, 255, 255, 1);
}

.dropdown-edit-assignee:active {
    background-color: rgba(9, 25, 49, 1);
    color: rgba(255, 255, 255, 1);
}

.dropdown-edit-assignee-initials,
.dropdown-edit-assignee-name {
    display: flex;
    align-items: center;
    width: 80%;
    cursor: default;
}

.dropdown-edit-assignee-names {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.dropdown-edit-assignee-checkbox {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-left: auto;
}

#dropdown_selected_category {
    width: auto;
    line-height: 1.6;
  }

.custom-dropdown-option:hover {
    width: calc(100% + 32px);
    margin-left: -16px;
    margin-right: -16px;
    padding-left: 26px;
    padding-right: 16px;
    background-color: rgba(42, 54, 71, 1) !important;
    color: rgba(255, 255, 255, 1);
    border-radius: 0 !important;
}

.edit-dropdown-padding{
    z-index: 0;
}