
@media(max-width:768px) {
    .edit-task-content {
        width: 100%;
        min-height: fit-content;
        margin-bottom: 32px;
    }

    .edit-task{ 
        width: 100%; 
        min-height: fit-content;
        padding: 32px 24px;
    }

    .input_label
    {   display: flex;
        align-items: center;
        font-size: 16px;
        color: rgba(0, 0, 0, 1);
        margin-block: 0;
        line-height: 1;
        cursor: default;
    }

    .resize-icon {
        bottom: 1px;
    }

    .display-edit-subtasks{
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;
        padding: 0;
        margin-top: 0px;
    }

    .triangle-top,
    .triangle-bottom {
        display: none;
    }

    .scrollable-container {
        min-height: fit-content;
    }
    
}

@media(max-width:620px){
    .edit-task-content {
        margin-top: -24px;
    }
}


@media(max-width:550px){
    .edit-task-content {
        margin-top: -16px;
    }

    .category-label {
        width: 50% !important;
    }

    .priority-buttons-div {
        flex-direction: column;
        gap: 8px;
        margin-bottom: 16px;
        padding: 4px;
    }
    
    .urgent_button, 
    .medium_button, 
    .low_button {
        width: 100% !important;
        height: 48px;
        font-size: 16px;
        border: 1px solid rgba(42, 54, 71, 0.1);  
        gap: 10px;
    }

}

@media(max-width:400px){
    .category-label {
        width: 100% !important;
    }

    .edit-task{  
        padding: 30px 16px;
    }
}