#focusedTask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2000;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    overflow-y: auto;
}

.focused-task-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: transparent;
    opacity: 1;
    transition: none;
}

.focused-task {
    width: 525px;
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: white;
    padding: 48px 40px;
    gap: 24px;
    hyphens: auto;
    word-wrap: break-word;
    border-radius: 24px;
    box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.4); 
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 300ms ease, transform 300ms ease,
                background-color 100ms ease-in-out;
}

.focused-task.active {
    opacity: 1;
    transform: scale(1);
}

.focused-task-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.focused-task-top svg{
    height: 32px;
    width: 32px;
    padding: 8px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 56px;
    transition: background-color 100ms ease-in-out;
}

.focused-task-top svg:hover {
    background-color: rgba(41, 171, 226, 1);
    padding: 8px;
    border-radius: 56px;
}

.focused-task-top svg path{
    transition: fill 100ms ease-in-out;
}

.focused-task-top svg:hover path{
    fill: rgba(255, 255, 255, 1);
}

.focused-task label{
    display: flex;
    align-self: flex-start;
    color: rgba(255, 255, 255, 1);
    padding: 4px 16px 4px 16px;
    border-radius: 8px;
}

.focused-task-due-date{
    cursor: default;
}

.focused-task-priority{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: default;
}

.focused-task-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.focused-assignee-initials {
    color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    padding: 12px;
    width: 42px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px; 
    cursor: default;  
}

.focused-task h1{
    font-size: 61px;
    color: rgba(0, 0, 0, 1);;
    margin-block: 0;
    line-height: 1;
    cursor: default;
}

.focused-task p{
    font-size: 20px;
    color: rgba(0, 0, 0, 1);
    padding-top: 8px;
    margin-bottom: 0; 
    cursor: default; 
}

.bullet-point{
    font-size: 20px;
    color: rgba(42, 54, 71, 1);
    cursor: default;
}

.focused-task-table{
    font-size: 20px;
}
.focused-task-table td {
    padding: 0 0 24px 0;
}

.focused-task-table td:first-child {
    width: 25%;
}

.focused-task-table tr:last-child td {
    padding: 0;
}

.focused-assignees-container {
    display: flex ;
    flex-direction: column;
    gap: 8px;
}

.focused-assignees-list{
    display: flex;
    flex-direction: column;
    padding: 7px 24px 7px 24px;
    gap: 15px;
    cursor: default;
}

.focused-assignee-entry{
    display: flex;
    gap: 16px ;
    font-size: 19px;
}

.focused-initial-circle{
    height: 42px;
    width: 42px;
}
  
.focused-task-info-line{
    display: flex;
    justify-content: start;
    gap: 25px;
}

.focused-subtask-line{
    display: flex;
    align-items: center;
}

.focused-subtask-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 16px;
    cursor: default;
}

.focused-edit-trash{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 8px;
}

.focused-edit-trash svg{
    height: 24px;
    width: 24px;
    padding: 2px;
    
}

.focused-trash,
.focused-edit{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    color: rgba(42, 54, 71, 1); 
    cursor: pointer;
    transition: color 100ms ease-in-out;
}

.focused-trash:hover,
.focused-edit:hover {
    color: rgba(41, 171, 226, 1); 
}

.focused-edit-trash svg path{
    transition: fill 100ms ease-in-out;
 }

.focused-trash:hover svg path, 
.focused-edit:hover svg path {
    fill: rgba(41, 171, 226, 1); 
}

.focused-separator{
    border-right: 1px solid rgba(209, 209, 209, 1) ;
}