
@media(max-width:768px) {
    .focused-task{  
        max-height: fit-content;
        width: 95% !important;
    }

    .triangle-top,
    .triangle-bottom {
        display: none;
    } 

    .focused-task h1{
        font-size: 36px;
        color: rgba(0, 0, 0, 1);;
        margin-block: 0;
        line-height: 1;
        cursor: default;
    }

    .focused-task p,
    .bullet-point,
    .focused-task-table,
    .focused-assignee-entry,
    .focused-task-due-date{
        font-size: 16px;
    }
}

@media(max-width:620px){
    .focused-task {
        width: 95%;
          height: 95%;
    }
}

@media(max-width:400px){
    .focused-task{  
        padding: 30px 16px;
    }
}