.board-task{
    width: 100%;
    height: auto;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: white;
    padding: 16px;
    margin-left: 8px;
    gap: 20px;
    border-radius: 24px;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 100ms ease-in-out;
}

.board-task:hover{
    background-color:rgba(168, 168, 168, 0.2) ;
}

.board-task label{
    display: flex;
    align-self: flex-start;
    color: rgba(255, 255, 255, 1);
    padding: 4px 16px 4px 16px;
    border-radius: 8px;
    cursor: pointer;
}

.preview-task-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.assignees-container {
    position: relative;
    display: flex ;
}

.preview-assignees-list {
    display: flex;     
}

.assignee-initials{
    border-radius: 50%;
    margin-left: -8px;
    background-color: black;
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 1);
    font-size: 12px; 
    padding: 12px;
    width: 32px;
    height: 32px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-task h3{
    color: rgba(42, 54, 71, 1);
    margin-block: 0;
}

.board-task p{
    color: rgba(168, 168, 168, 1);
    padding-top: 8px;
    margin-block: 0;
}

.dragging-clone {
    position: absolute;
    pointer-events: none;
    z-index: 9999;
    opacity: 0.9;
    transform: rotate(5deg);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.dragging {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.subtask-progress-container {
    height: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

  .subtask-progress-bar{
    width: 100%;
    background-color: rgba(244, 244, 244, 1);
    border-radius: 5px;
  }
  
  .subtask-inner-progress-bar {
    height: 8px;
    background-color: rgba(69, 137, 255, 1);
    border-radius: 8px;
  }
  
  .subtask-progress-text {
    width: auto;
    display: flex;
    font-size: 12px;
    gap: 4px;
  }
