.input_div_left {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
    height: 100%;
    width: calc(100% / 2 - 24px);
    flex: 1;
}

.input_div_left input {
    border: rgb(209, 209, 209) solid 1px;
    border-radius: 10px;
    padding-left: 16px;
    width: 100%;
}

.input_div_left p {
    margin-block-start: 0;
    margin-block-end: 0;
}

#input_title {
    height: 48px;
    width: 100%;
}

#input_description {
    height: 120px;
    width: 100%;
}

#input_date {
    height: 48px;
    width: 100%;
}

.enlarge_inputfield_symbol_div {
    position: absolute;
    right: 10px;
    top: 84%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

.enlarge_inputfield_symbol_div img {
    width: 24px;
    height: 24px;
}