html, body {
    overflow: hidden; /* Prevent scrolling on the entire page */
}

#overlay {
    overflow: hidden; /* Prevent scrolling within the overlay */
    position: fixed; /* Ensure the overlay is fixed and not scrollable */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #f4f4f4;
  gap: 20px;
 }

  .card {
    display: flex;
  flex-direction: row;
  background: white;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 100%;
  height: 100%;
  }
  
  .left-column {
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    background-color: #2a3647;
    color: white;
    width: 40%;
  }

  h2{
    font-size: 61px;
    font-weight: 700;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  h3{
    font-size: 27px;
    font-weight: 400;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 20px;
    color: #888;
    height: 32px;
    width: auto;
    transform: scale(1);
  }

  .close-btn:hover{
    transform: scale(1.1);
  }

  .logo {
    height: 67px;
    width: auto;
    margin-bottom: 10px;
  }

  .profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
  }
  
  .profile-icon {
    width: 90px;
    height: 90px;
    background: #f0f0f0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .profile-icon i {
    font-size: 36px;
    color: #666;
  }

  .right-column {
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 42%;
  }

  .input_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 326px;
    width: 422px;
}

.input_div input{
    width: 422px;
    height: 48px;
    border: rgb(209, 209, 209) solid 1px;
    border-radius: 10px;
    padding-left: 16px;
}

.input_label {
    position: relative;
    display: flex;
    align-items: center;
    width: 422px;
}

.input_label input {
    width: 100%;  
    padding-right: 40px;
    font-size: 16px;
}

.input_label input::placeholder{
    font-size: 18px;
    color: rgb(209, 209, 209);
}

.input_icon {
    position: absolute; 
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px; 
    height: 20px; 
}

.input_icon img {
    width: 100%; 
    height: 100%;
}

.button_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 32px;
    width: 100% !important;
}

.button_save, .button_save_input_section{
    background-color: rgb(42, 54, 71);
    border: solid 2px  rgb(42, 54, 71);
    border-radius: 10px;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    transform: scale(1);
    font-weight: 600;
    width: 110px;
    height: 48px;
    font-size: 21px;
    font-weight: 700;
    width: fit-content !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 8px;
}

.button_save,.button_save_input_section:hover{
    background-color: rgb(41, 171, 226);
    transform: scale(1.05);
    border: solid 2px rgb(41, 171, 226);
}

.button_cancel, .button_delete_input_section{
    border: solid 2px  rgb(42, 54, 71);
    border-radius: 10px;
    color:  rgb(42, 54, 71);
    padding: 8px 16px;
    cursor: pointer;
    transform: scale(1);
    font-weight: 600;
    width: fit-content !important;
    height: 48px;
    font-size: 21px;
    font-weight: 700;
}

.button_cancel, .button_delete_input_section:hover{
    border: solid 2px rgb(41, 171, 226);
    transform: scale(1.05);
    color: rgb(41, 171, 226);
}

a{
    text-decoration: none;
}

.separator{
    height: 3px;
    width: 90px;
    background-color:  rgb(41, 171, 226);
    border-radius: 50px;
}




