body {
    overflow-x: hidden;
}

.right-side-content {
    display: flex;
    flex-direction: column;
    width: calc(100% - 64px);
    margin: 0 32px;
    height: fit-content;
}

.h1_div h1 {
    font-size: 61px;
}

.input_label {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    align-items: start;
    flex-direction: column;
    margin-bottom: 24px;
}

.input_label input {
    padding-right: 16px;
    font-size: 16px;
    width: 100%;
    border: solid 1px grey;
    transition: border-color 0.3s ease-in-out;
}

.input_label input:focus {
    border-color: #29ABE2 !important;
}

.input_label select {
    width: 100%;
    padding: 12px 40px 12px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    appearance: none;
    background-color: white;
    cursor: pointer;
}

.input_label input::placeholder {
    font-size: 20px;
    font-weight: 400;
    color: rgb(209, 209, 209);
}

.input_label select:invalid {
    color: rgb(209, 209, 209);
}

.input_icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

.input_icon img {
    width: 24px;
    height: 24px;
}

.add_task_board {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: 16px;
    min-width: 100%;
}

.separator {
    height: 300px;
    width: 3px;
    background-color: #D1D1D1;
    border-radius: 50px;
}

.info_and_button_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 80px;
    margin-bottom: 40px;
}

.clear_create_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 16px;
    cursor: pointer;
}

.clear_button_div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 8px;
    border: #2A3647 solid 2px;
    border-radius: 10px;
    padding: 0 16px;
}

.clear_button_div:hover {
    background-color: #2A3647;
    color: white;
}

.create_button_div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 8px;
    border: #2A3647 solid 2px;
    border-radius: 10px;
    padding: 0 16px;
}

.create_button_div:hover {
    background-color: #2A3647;
    color: white;
}

.create_symbol {
    fill: #2A3647;
}

.create_button_div:hover .create_symbol path {
    fill: white;
}

.clear_symbol {
    stroke: #2A3647;
}

.clear_button_div:hover .clear_symbol path {
    stroke: white;
}

.red_color {
    color: red;
}