
/* Container für das "Assigned to" Dropdown */
.assigned_to_div {
    position: relative;
    width: 100%;
  }
  
  /* Dropdown-Kopf */
  .dropdown_assigned_to {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
    width: 100%;
  }
  
  .dropdown_assigned_to:hover {
    background-color: #f0f0f0;
  }
  
  /* Dropdown-Pfeil */
  .dropdown_arrow {
    width: 16px;
    height: 16px;
    transition: transform 0.3s ease;
  }
  
  /* Dropdown-Pfeil dreht sich, wenn das Dropdown geöffnet ist */
  .dropdown_open .dropdown_arrow {
    transform: rotate(180deg) !important;
  }
  
  /* Dropdown-Liste */
  .dropdown_options_assignee {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px; /* 5 Namen mit je ca. 40px Höhe */
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 10;
    width: 100%;
  }
  
  /* Dropdown anzeigen, wenn aktiv */
  .dropdown_options_assignee.show {
    display: block;
  }
  
  /* Einzelne Dropdown-Option */
  .custom-dropdown-option {
    padding: 10px;
    cursor: pointer;
  }
  
  .custom-dropdown-option:hover {
    background-color: #f0f0f0;
  }
  
    /* Assignee-Anzeige */
    .show_assignees {
        margin-top: 10px;
        display: flex;
      }
      
      .assignee-item {
        display: flex;
        align-items: baseline !important;
        flex-direction: row;
        margin-top: 5px;
        padding: 0 4px;
      }
    
      .option_row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
      }
      
      .initials-circle {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 30px; 
        height: 30px; 
        border-radius: 50%; 
        background-color: gray;
        border: 1px black solid;
        color: white; 
        font-size: 12px;
        margin-right: 3px; 
      }

      .delete-assignee-button svg {
        transform: translateY(9px) !important;
    }
