
.placeholder_category {
    font-size: 20px;
    font-weight: 400;
    color: rgb(209, 209, 209);
}

#input_assigned_to {
    height: 48px;
    width: 100%;
    background-image: url('../assets/img/arrow_drop_down.svg');
    background-repeat: no-repeat;
    background-position: right 12px center;
}

#input_category {
    height: 48px;
    width: 100%;
}

.category_div {
    width: 100%;
    min-height: 48px;
    min-width: 100%;
    position: relative;
}

.dropdown-category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    background-color: #fff;
    width: 100%;
    transition: border-color 0.3s ease;
  }
  
  .dropdown-category:hover {
    background-color: #f0f0f0;
  }
  
  .dropdown-category:focus-within {
    border: solid 1px rgb(41, 171, 226);
    border-color: rgb(41, 171, 226) !important;
  }
  

.dropdown_arrow {
    width: 12px;
    transition: transform 0.3s;
}

.dropdown_options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    z-index: 1000;
    border-radius: 10px;
}

.dropdown_options div {
    padding: 10px;
    cursor: pointer;
    border-radius: 10px; 
}

.dropdown_options div:hover {
    background: #2a3647;
}

.open .dropdown_options {
    display: block;
}

.open .dropdown_arrow {
    transform: rotate(180deg);
}