
.board-head{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 132px;
}

.board-search-line{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;

}

.board-title h1{
    line-height: 1;
    color: rgba(0,0,0,1);
    font-size: 61px;
    font-weight: 700;  
}

.board-input-section{
    height: 48px;
    display: flex;
    gap: 32px;
}


.input-with-img{
    position: relative;
    display: flex;
    align-items: center;
    
}

.input-with-img img{
    position: absolute;
    right: 8px;
    height: 32px;
}

input {
    border: rgb(209, 209, 209) solid 1px;
    border-radius: 10px;
    padding-left: 16px;
    padding-right: 64px;
    width: 280px;
    height: 100%;
    font-size: 20px;
}

.button-input-section{
    width: 160px;
    background-color: rgb(42, 54, 71);
    border: solid 2px  rgb(42, 54, 71);
    border-radius: 10px;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    transform: scale(1);
    font-size: 21px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.button-input-section img{
    height: 32px;
}

.button-input-section:hover{
    background-color: rgb(41, 171, 226);
    transform: scale(1.05);
    border: solid 2px rgb(41, 171, 226);
}

.kanban-header{
    color: rgba(66, 82, 110, 1);
    width: 100%;
    height: 24px;
    display: flex;
    justify-content: space-between;
    gap: 26px;
}

span{
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span img{
    height: 24px;
    border: 2px solid rgba(42, 54, 71, 1);
    border-radius: 8px;
    padding: 4px;
}