.svg-checkbox {
    display: inline-flex;
    align-items: center;

    transition: opacity 100ms ease-in-out;
}

.svg-checkbox input {
    display: none;
}

.svg-checkbox .checkbox-icon {
    padding: 2px;
    width: 28px;
    height: 28px;
    transition: all 100ms ease;
    cursor: pointer;
}

.checkbox-icon:hover {
    border-radius: 50px;
    background-color: rgba(209, 209, 209, 1);
}

.svg-checkbox .unchecked {
    display: block;
}

.svg-checkbox .checked {
    display: none;
}

.svg-checkbox input:checked~.unchecked {
    display: none;
}

.svg-checkbox input:checked~.checked {
    display: block;
}

.svg-edit-checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.svg-edit-checkbox input[type="checkbox"] {
    display: none;
}

.svg-edit-checkbox .checkbox-svg {
    width: 24px;
    height: 24px;
    transition: stroke 0.2s ease, fill 0.2s ease;
}

.svg-edit-checkbox .unchecked {
    padding: 3px;
    display: inline-block;
}

.svg-edit-checkbox .checked {
    display: none;
}

.svg-edit-checkbox input[type="checkbox"]:checked~.unchecked {
    display: none;
}

.svg-edit-checkbox input[type="checkbox"]:checked~.checked {
    display: inline-block;
}

.dropdown-edit-assignee:hover .checkbox-svg.unchecked {
    stroke: white;
    fill: none;
}

.dropdown-edit-assignee:hover .checkbox-svg.checked path {
    stroke: white;
}

.checkbox-svg .checkbox-rect {
    fill: none;
    stroke: #2A3647;
    stroke-width: 2;
}

.dropdown-edit-assignee:hover .checkbox-svg .checkbox-rect {
    stroke: white;
    fill: none;
}

.checkbox-svg.checked {
    display: none;
}

.checkbox-toggle:checked+.checkbox-svg.unchecked {
    display: none;
}

.checkbox-toggle:checked+.checkbox-svg.unchecked+.checkbox-svg.checked {
    display: inline-block;
}