@media (max-width: 650px) {
    .forgot_password_box {
        width: 400px;
        margin-top: 24px !important;
    }

    form {
        max-width: 100%;
    }

    .input_label {
        max-width: 100%;
    }
    header{
        margin-bottom: 24px;
    }
}

@media (max-width: 475px) {
    .forgot_password_box {
        width: 280px;
    }

    form {
        max-width: 100%;
    }

    .input_label {
        max-width: 100%;
    }

    .h1_box {
        font-size: 24px;
        font-weight: 700;
    }

    .input_label input::placeholder {
        font-size: 14px;
    }

    .logo_header {
        height: 64px;
    }

    .header_text {
        display: none;
    }

}