body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }
  
  header {
    width: 100%;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    padding: 20px 40px 0 40px !important;
  }
  
  .logo_header {
    height: 121px;
    width: auto;
  }
  
  .right_header_section {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .log_in_button_header {
    background-color: rgb(42, 54, 71);
    border-radius: 10px;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    transform: scale(1);
  }

  .log_in_button_header:hover{
    background-color: rgb(41, 171, 226);
    transform: scale(1.05);
  }
  
  .main_content {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    width: 100%;
    height: calc(100vh - 80px);
  }
  
  .forgot_password_box {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 550px;
    height: 450px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .h1_div_forgot_password_field {
    margin-bottom: 20px;
  }
  
  .h1_box {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: rgb(42, 54, 71);
    margin-block-start: 0;
    margin-block-end: 0;
  }
  
  .separation_line_h1 {
    height: 3px;
    width: 150px;
    background-color: rgb(41, 171, 226);
    border-radius: 50px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  form input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
  }
  
  form input:focus {
    border-color:rgb(41, 171, 226);
  }
  
  form button {
    background-color:rgb(42, 54, 71);
    color: #ffffff;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  form button:hover {
    background-color:rgb(41, 171, 226);
  }
  
  footer {
    text-align: center;
    margin-top: 20px;
  }
  
  footer a {
    color: rgb(41, 171, 226);
    text-decoration: none;
    margin: 0 10px;
  }
  
  footer a:hover {
    text-decoration: underline;
  }

  .input_label {
    position: relative;
    display: flex;
    align-items: center;
    width: 422px;
}

.input_label input {
    width: 100%;
    padding-right: 40px;
    font-size: 16px;
}

.input_label input::placeholder {
    font-size: 18px;
    color: rgb(209, 209, 209);
}

.input_icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

.input_icon img {
    width: 100%;
    height: 100%;
}