@media(max-width:770px) {
    .h1_div h1 {
        font-size: 32px !important;
    }

    footer {
        margin-bottom: 40px !important;
    }

}

@media(max-width:650px) {
    footer {
        margin-bottom: 56px !important;
    }

}