.user-story {
    background-color: rgba(0, 56, 255, 1);
}

.technical-task {
    background-color: rgba(31, 215, 193, 1);
}

.css {
    background-color: rgba(64, 158, 255, 1);
}

.html {
    background-color: rgba(255, 105, 180, 1);
}

.javascript {
    background-color: rgba(255, 140, 0, 1);
}

.bug-fix {
    background-color: rgba(255, 99, 71, 1);
}

.design {
    background-color: rgba(0, 204, 153, 1);
}

.backend {
    background-color: rgba(34, 139, 34, 1);
}

.frontend {
    background-color: rgba(255, 165, 0, 1);
}

.documentation {
    background-color: rgba(211, 211, 211, 1);
}

.technical-task-dark {
    background-color: rgba(13, 45, 75, 1);
}

.a {
    background-color: #FF5733;
}

.b {
    background-color: #33FF57;
}

.c {
    background-color: #3357FF;
}

.d {
    background-color: #FF33A1;
}

.e {
    background-color: #FF8C33;
}

.f {
    background-color: #33FFF5;
}

.g {
    background-color: #8C33FF;
}

.h {
    background-color: #FF3333;
}

.i {
    background-color: #33FF8C;
}

.j {
    background-color: #FF5733;
}

.k {
    background-color: #33FF57;
}

.l {
    background-color: #3357FF;
}

.m {
    background-color: #FF33A1;
}

.n {
    background-color: #FF8C33;
}

.o {
    background-color: #33FFF5;
}

.p {
    background-color: #8C33FF;
}

.q {
    background-color: #FF3333;
}

.r {
    background-color: #33FF8C;
}

.s {
    background-color: #FF5733;
}

.t {
    background-color: #33FF57;
}

.u {
    background-color: #3357FF;
}

.v {
    background-color: #FF33A1;
}

.w {
    background-color: #FF8C33;
}

.x {
    background-color: #33FFF5;
}

.y {
    background-color: #8C33FF;
}

.z {
    background-color: #FF3333;
}

.urgent {
    width: 17px;
    height: 12px;
    background-image: url("../assets/img/urgent_symbol.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.medium {
    width: 17px;
    height: 12px;
    background-image: url("../assets/img/medium_symbol.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.low {
    width: 17px;
    height: 12px;
    background-image: url("../assets/img/low_symbol.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}