@media(max-width:770px) {
    .h1_div h1 {
        font-size: 32px !important;
    }

    footer {
        margin-bottom: 64px !important;
    }

    h2 {
        font-size: 18px;
        margin-block-end: 0;
    }

    p {
        margin-block-start: 0;
    }

    .right-side-content {
        width: 100vw;
        padding: 64px 64px 80px 64px !important;
    }

}

@media(max-width:620px) {
    .right-side-content {
        width: 100vw;
        padding: 40px 24px 80px 24px !important;
    }
}

@media(max-width:366px) {
    .h1_div h1 {
        font-size: 24px !important;
    }
}