html {
    overflow: hidden;
    height: 100%;
  }

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color:rgba(246, 247, 248, 1);
    max-width: 100%;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column; 
  }

  h1, h2, h3, h5 {
    color: #333;
  }

footer{
    position: sticky;
    bottom: 0;
    height: 80px;
    max-width: 100%;
    background-color:rgba(246, 247, 248, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    color: rgb(168, 168, 168);
}

footer p{
    transform: scale(1);
    cursor: pointer;
}

footer p:hover{
    transform: scale(1.05);
    color: black;
}

.logo_header{
    height: 121px;
    width: auto;
}

.right_header_section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 32px;
}

.sign_up_button_header{
    background-color: rgb(42, 54, 71);
    border-radius: 10px;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    transform: scale(1);
}

.sign_up_button_header:hover{
    background-color: rgb(41, 171, 226);
    transform: scale(1.05);
}

/* Ab hier Sign Up und Log In individueller Style. Bis hier hin gleich*/

header {
    position: sticky;
    top: 0;
    height: 130px;
    max-width: 100%;
    background-color:rgba(246, 247, 248, 1);
    display: flex;
    justify-content: space-between;
    align-items:start;
    flex-direction: row;
    padding: 32px 56px 0 56px;
}

.log_in_box{
    height: 449px;
    width: 652px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 2px rgba(42, 54, 71, 0.1);
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer/Edge */
}

.log_in_box::-webkit-scrollbar { 
    display: none; /* Chrome, Safari, Edge */
}

.main_content {
    flex: 1; 
    overflow: scroll; 
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 32px 0;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer/Edge */
}

.main_content::-webkit-scrollbar { 
    display: none; /* Chrome, Safari, Edge */
}