@media(max-width:720px) {
    .button_div {
        flex-direction: column;
        gap: 16px
    }

    .log_in_box {
        height: auto;
        width: 400px;
        max-height: none;
        padding: 16px 0;
    }

    .input_label {
        width: 350px;
    }
}

@media(max-width:450px) {
    .log_in_box {
        height: auto;
        width: 280px;
        max-height: auto;
        padding: 16px 0;
        overflow: hidden !important;
    }

    .input_label {
        width: 280px;
        width: 260px;
    }

    .right_header_section {
        display: none;
    }

    .d_none_footer {
        display: flex;
    }

    .logo_header {
        width: 30px;
    }

    footer {
        height: auto;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 8px;
        transform: translateY(-16px)
    }

    header {
        height: fit-content;
        padding: 24px 0 0 24px;
    }

    .input_div input,
    .input_label input {
        height: 30px !important;
    }

    .h1_box {
        font-size: 48px !important;
    }

    .button_log_in_input_section {
        padding: 8px 8px;
        width: 120px;
        height: auto;
        font-size: 16px;
    }

    .button_sign_up_input_section {
        padding: 8px 8px;
        width: 120px;
        height: auto;
        font-size: 16px;
    }

    .input_div {
        height: fit-content;
        max-height: fit-content;
        gap: 8px;
    }

    .separation_line_h1 {
        margin-bottom: 8px;
    }

    .legal_privacy_div a {
        font-size: 12px;
    }

    .d_none_forgot_password-div {
        transform: translateY(-40px);
    }

    .main_content {
        padding: 0 0;
    }

    html,
    body {
        overflow: hidden;
    }
}