
.single_step{
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: row;
  gap: 24px;
}

.explanation_div p{
  margin-block-start: 0;
  margin-block-end: 0;
}

.explanation_div h3{
  margin-block-start: 0;
  margin-block-end: 0;
}

.title_single_step_div h3{
  margin-block-start: 0;
  margin-block-end: 0;
}

.step_by_step_guid_div{
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 32px 0;
}

.h1_div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.h1_div h1{
  font-size: 48px;
}

.h1_div img{
  transform: scale(1);
  cursor: pointer;
}

.h1_div img:hover{
  transform: scale(1.1);
}

.turquoise{
  color: rgb(41, 171, 226);
}
