.sidebar-container{
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 232px;
    background-color: rgba(42, 54, 71, 1);
    padding-top: 64px;
    padding-bottom: 64px;
}

.sidebar-logo{
    cursor: pointer;
}

.sidebar-tabs{
    width: 100%;
    gap: 15px ;
    margin-bottom: 64px;
}

.tab-content{
    width: 100%;
    font-family: Inter;
    font-weight: 200;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    display: flex;
    gap: 8px;
    cursor: pointer;
}

.tab-content img{
    cursor: pointer;
}

.tab-content:hover{
    background-color:rgba(9, 25, 49, 1) ;
}

.tab-content-inner {
    font-family: 'Inter';
    font-weight: 200;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    display: flex;
    gap: 8px;
    margin-left: 48px;
    text-decoration: none;
}

.terms-privacy{
    width: 100%;
    display: flex;
    flex-direction: column;
}