.sidebar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(42, 54, 71, 1);
    padding: 64px 0 64px 0;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 501;
    width: 250px;
}

.sidebar-logo {
    cursor: pointer;
}

.sidebar-tabs {
    width: 100%;
    gap: 15px;
    margin-bottom: 64px;
}

.tab-content {
    width: 100%;
    font-family: Inter;
    font-weight: 200;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    display: flex;
    gap: 8px;
    cursor: pointer;
}

.tab-content a{
    width: 100%;
    padding: 0 48px;
}

.tab-content img {
    cursor: pointer;
}

.tab-content:hover {
    background-color: rgba(9, 25, 49, 1);
}

.tab-content-inner {
    width: 100%;
    font-family: 'Inter';
    font-weight: 200;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    display: flex;
    gap: 8px;
    text-decoration: none;
}

.tab-content-inner a{
    width: 100%;
    padding-left: 48px;
}

.terms-privacy {
    width: 100%;
    display: flex;
    flex-direction: column;
}