html {
    overflow: hidden;
    height: 100%;
  }

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color:rgba(246, 247, 248, 1);
    max-width: 100%;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column; 
  }

  h1, h2, h3, h5 {
    color: #333;
  }

footer{
    position: sticky;
    bottom: 0;
    height: 80px;
    max-width: 100%;
    background-color:rgba(246, 247, 248, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    
}

footer a{
    text-decoration: none;
    color: rgb(168, 168, 168);
    transform: scale(1);
    cursor: pointer;
}

footer a:hover{
    text-decoration: none;
    color: black;
    transform: scale(1.05); 
}

.logo_header{
    height: 121px;
    width: auto;
}

.right_header_section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 32px;
}

.sign_up_button_header{
    background-color: rgb(42, 54, 71);
    border-radius: 10px;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    transform: scale(1);
}

.sign_up_button_header:hover{
    background-color: rgb(41, 171, 226);
    transform: scale(1.05);
}


/* Ab hier Sign Up und Log In individueller Style. Bis hier hin gleich*/

header {
    position: sticky;
    top: 0;
    height: 130px;
    max-width: 100%;
    background-color:rgba(246, 247, 248, 1);
    display: flex;
    justify-content:flex-start;
    align-items:center;
    flex-direction: row;
    padding: 32px 56px 0 56px;
    overflow: hidden;
}

.sign_up_box{
    height: 630px;
    width: 598px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 2px rgba(42, 54, 71, 0.1);
    overflow-y: scroll;
    scrollbar-width: none; 
    -ms-overflow-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.sign_up_box::-webkit-scrollbar { 
    display: none; 
}

.main_content {
    flex: 1; 
    overflow: scroll; 
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 32px 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.main_content::-webkit-scrollbar { 
    display: none; 
}

.h1_div_sign_up_field{
    min-height: 98px;
    width: 315px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.div_sign_in_h1_separator{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.h1_box{
    font-size: 72px;
    font-weight: 700;
    text-align: center;
    color: rgb(42, 54, 71);
    margin-block-start: 0;
    margin-block-end: 0;
}

.separation_line_h1{
    height: 4px;
    width: 160px;
    background-color:  rgb(41, 171, 226);
    border-radius: 50px;
}

.input_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 326px;
    width: 422px;
}

.input_div input{
    width: 422px;
    height: 48px;
    border: rgb(209, 209, 209) solid 1px;
    border-radius: 10px;
    padding-left: 16px;
}

.button_sign_up_input_section{
    background-color: rgb(42, 54, 71);
    border: solid 2px  rgb(42, 54, 71);
    border-radius: 10px;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    transform: scale(1);
    font-weight: 600;
}

.button_sign_up_input_section:hover{
    background-color: rgb(41, 171, 226);
    transform: scale(1.05);
    border: solid 2px rgb(41, 171, 226);
}

.checkbox_div {
    display: flex;
    align-items: center; 
    gap: 8px; 
    font-size: 16px;
    color: rgb(42, 54, 71);
}

.checkbox_div label{
    color: rgb(209, 209, 209);
}

a{
    color:  rgb(41, 171, 226);
    cursor: pointer;
}

a:hover{
    text-decoration: underline;
}

.back_arrow_sign_in{
    height: 32px;
    width: 32px;
    transform: translateX(-104px) scale(1);
    cursor: pointer;
}

.back_arrow_sign_in:hover{
    transform: translateX(-104px) scale(1.1);
}

#check_box_image{
    cursor: pointer;
    transform: scale(1);
}

#check_box_image:hover{
    transform: scale(1.1);
}

.link_accept_privacy_policy{
    transform: scale(1);
}

.link_accept_privacy_policy:hover{
    text-decoration: none;
    transform: scale(1.1);
}

.input_label {
    position: relative;
    display: flex;
    align-items: center;
    width: 422px;
}

.input_label input {
    width: 100%;  
    padding-right: 40px;
    font-size: 16px;
}

.input_label input::placeholder{
    font-size: 18px;
    color: rgb(209, 209, 209);
}

.input_icon {
    position: absolute; 
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px; 
    height: 20px; 
}

.input_icon img {
    width: 100%; 
    height: 100%;
}

