@media(max-width:640px) {
    .input_label {
        width: 260px;
    }

    .sign_up_box {
        height: fit-content;
        max-height: fit-content;
        width: 280px;
        overflow-x: none !important;
        overflow-y: none !important;
        display: flex;
        justify-content: center;

    }

    .input_div input {
        height: 32px;
    }

    .h1_box {
        font-size: 40px;
        font-weight: 500;
    }

    .back_arrow_sign_in {
        transform: translateX(-16px);
    }

    .logo_header {
        height: 56px;
        width: auto;
    }

    header {
        height: auto;
    }

    .main_content {
        padding: 0 0;
    }

    .input_div {
        gap: 8px;
    }

    .h1_div_sign_up_field {
        min-height: fit-content;
        max-height: fit-content;
    }

    footer{
        max-height: fit-content;
    }
}