.summary-content {
    width: 100%;
    max-height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10%;
    padding-top: 40px;
}

.right-side-content {
    min-height: fit-content;
    width: 100vw;
}

.summary-left {
    display: flex;
    flex-direction: column;
}

.summary-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.summary-right h1 {
    line-height: 1;
    font-size: 64px;
    font-weight: 700;
    color: rgba(41, 171, 226, 1);
    margin: 0;
}

.summary-right h2 {
    line-height: 1;
    font-size: 47px;
    font-weight: 500;
    color: rgba(42, 54, 71, 1);
    margin: 0;
}

.summary-headline {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.summary-headline h1 {
    margin-block: 0;
    color: rgba(0, 0, 0, 1);
    font-size: 61px;
    font-weight: 700;
    width: auto;
}

.summary-headline p {
    font-size: 27px;
    font-weight: 400;
    color: rgba(42, 54, 71, 1);
    margin-block: 0;
}

.headline-separator {
    border-right: 3px solid rgba(41, 171, 226, 1);
    height: 61px;
}

.headline-underline {
    display: none;
}


.summary-overview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 560px;
    height: 562px;
    margin-top: 20px;
}

.overview-amount-contents h1 {
    line-height: 120%;
    font-size: 64px;
    margin: 0;
}

.overview-amount-contents p {
    color: rgba(42, 54, 71, 1);
    line-height: 1;
    margin: 0;
    line-height: normal;
}

.overview-line-one,
.overview-line-three {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: visible;
}

.summary-to-do,
.summary-done {
    width: 264px;
    height: 168px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
    gap: 18px;
    transition: background-color 100ms ease-in-out,
        transform 100ms ease-in-out;
    cursor: pointer;
}

.summary-to-do:hover,
.summary-done:hover {
    transform: scale(1.07008, 1.09524);
    background-color: rgba(42, 54, 71, 1);
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.25);
}

.summary-to-do:active,
.summary-done:active {
    transform: scale(1, 1);
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2);
}

.summary-to-do p,
.summary-to-do h1,
.summary-done p,
.summary-done h1 {
    transition: color 100ms ease-in-out,
}

.summary-to-do:hover p,
.summary-to-do:hover h1,
.summary-done:hover p,
.summary-done:hover h1 {
    color: rgba(255, 255, 255, 1);
}

.summary-to-do:active p,
.summary-to-do:active h1,
.summary-done:active p,
.summary-done:active h1 {
    color: rgba(42, 54, 71, 1);
}

.svg-icon circle,
.svg-icon path {
    transition: fill 100ms ease-in-out,
        stroke 100ms ease-in-out;
}

.summary-to-do:hover .svg-icon circle {
    fill: rgba(255, 255, 255, 1);
}

.summary-to-do:hover .svg-icon path {
    fill: rgba(42, 54, 71, 1);
}

.summary-to-do:active .svg-icon circle {
    fill: rgba(42, 54, 71, 1);
}

.summary-to-do:active .svg-icon path {
    fill: rgba(255, 255, 255, 1);
}


.summary-done:hover .svg-icon circle {
    fill: rgba(255, 255, 255, 1);
}

.summary-done:hover .svg-icon path {
    stroke: rgba(42, 54, 71, 1);
}

.summary-done:active .svg-icon circle {
    fill: rgba(42, 54, 71, 1);
}

.summary-done:active .svg-icon path {
    stroke: rgba(255, 255, 255, 1);
}

.summary-task-amount,
.summary-task-progress,
.summary-awaiting-feedback {
    cursor: pointer;
    width: 168px;
    height: 168px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
    gap: 18px;
    transition: background-color 100ms ease-in-out,
        transform 100ms ease-in-out;
}

.summary-task-amount:hover,
.summary-task-progress:hover,
.summary-awaiting-feedback:hover {
    transform: scale(1.1);
    background-color: rgba(42, 54, 71, 1);
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.25);
}

.summary-task-amount:active,
.summary-task-progress:active,
.summary-awaiting-feedback:active {
    transform: scale(1);
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
}


.summary-task-amount p,
.summary-task-amount h1,
.summary-task-progress p,
.summary-task-progress h1,
.summary-awaiting-feedback p,
.summary-awaiting-feedback h1 {
    transition: color 100ms ease-in-out;
}

.summary-task-amount:hover p,
.summary-task-amount:hover h1,
.summary-task-progress:hover p,
.summary-task-progress:hover h1,
.summary-awaiting-feedback:hover p,
.summary-awaiting-feedback:hover h1 {
    color: rgba(255, 255, 255, 1);
}

.summary-task-amount:active p,
.summary-task-amount:active h1,
.summary-task-progress:active p,
.summary-task-progress:active h1,
.summary-awaiting-feedback:active p,
.summary-awaiting-feedback:active h1 {
    color: rgba(42, 54, 71, 1);
}


.overview-line-two {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 30px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
    gap: 61px;
    transition: background-color 100ms ease-in-out,
        transform 100ms ease-in-out;
    cursor: pointer;
}

.overview-line-two p,
.overview-line-two h1,
.overview-line-two h3 {
    transition: color 100ms ease-in-out;
}


.overview-line-two:hover {
    background-color: rgba(42, 54, 71, 1);
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.25);
    transform: scale(1.02857, 1.09524);
}

.overview-line-two:hover p,
.overview-line-two:hover h1,
.overview-line-two:hover h3 {
    color: rgba(255, 255, 255, 1);
}

.overview-line-two:active {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
    transform: scale(1);
}

.overview-line-two:active p,
.overview-line-two:active h1,
.overview-line-two:active h3 {
    color: rgba(42, 54, 71, 1);
}

.summary-urgent {
    height: 168px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.line-two-separator {
    height: 102px;
    border-right: 3px solid rgba(209, 209, 209, 1);
}

.summary-deadline h3,
.summary-deadline p {
    transition: color 100ms ease-in-out;
    margin: 8px 0;
    color: rgba(42, 54, 71, 1);
    line-height: 1;
}

.overview-amount-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.summary-to-do img,
.summary-done img {
    height: 69px;
}

.summary-urgent img {
    height: 60px;
}